{% extends "app/layout.html" %}

{% block content %}
    
    <!----
    {% load staticfiles %}
     <img src="{% static 'app/images/user_Dex/post.image' %}" /> 
    -->
    <div style="text-align:center">   
        {% if post.image.url != '' %}
            <img src="{{ post.image.url }}" height="400" />
        {% endif %}
    
    <p>{{ post.created_date }} {{ post.author}} </p>
    <h1>{{ post.title }}</h1>
    </div>
    <p>{{ post.text }}</p>
    {% if post.files.url != '' %}
            <p class="text-primary" style="font-size:large">
                {{ post.attached_file_name }}
            </p>
            <p>
                <a href="{{ post.files.url }}" download> 
                    <button type="button" class="btn btn-success">Скачать</button>
                </a> 
            </p>
    {% endif %}
    
    

{% endblock %}
